[submodule "third_party/cpr"]
	path = third_party/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/trompeloeil"]
	path = third_party/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
